/* styles for portfolio.html */

/* wrapper for portfolio projects list */
.portfolio-content {
    position: relative;
    margin: 0;
}

/* link formatting for individual projects,
    links as button/box like objects */
.portfolio-element {
    position: relative;
    float: left;
    display: block;
    height: 250px;
    width: 250px;
    margin: 10px 40px 30px 0;
    background-color: grey;
    transition: all .3s ease-in-out;
}

.portfolio-element img {
    width: 100%;
    height: auto;
}
/* caption for each link-image combo */
.portfolio-caption {
    background-color: #58c;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: .9;
    text-align: center;
}

/* add effect to portfolio image on hover */
.portfolio-element:hover, .portfolio-element:hover a {
    opacity: .8;
    transform: scale(1.1)
}

/* add effect while hovering over the portfolio image to caption */
.portfolio-element:hover .portfolio-caption, .portfolio-element.hover .portfolio-caption {
    opacity: 1;
    background-color: #69d;
}

@media screen and (max-width:980px){

    .portfolio-element {
        float: left;
        height: 270px;
        width: 270px;
        margin: 10px 0 30px 0;
    }

    #project1, #project3, #project5, #project7 {
        margin-right: 36px;
    }
}

@media screen and (max-width:768px){
    
    .portfolio-element {
        float: left;
        height: 270px;
        width: 270px;
        margin: 10px 0 30px 0;
    }

    #project1, #project3, #project5, #project7 {
        margin-right: 36px;
    }
}

@media screen and (max-width:640px){
    .portfolio-element {
        float: none;
        height: 476px;
        width: 476px;
        margin: 10px 0 30px 0;
    }

}